.listOfCards {
  display: flex;
  gap: 10px;
  width: 100%;
  overflow-x: scroll;
}

.listOfCardsWithTitle {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 320px;
  margin: 0 auto;
}

.listOfCardsWithTitle--options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listOfCardsWithTitle--options p {
  font-weight: 600;
}

.listOfCardsWithTitle--options a {
  color: var(--color-white);
}
